.absoulte{
	position:absoulte;
}

.bold{
	font-weight:bold;
}

.circle{
	border-radius:50%;
}

.pull-right{
	float:right;
}
.relative{
	position: relative;
}
.inline-block{
	display: inline-block;
}
.large-padding{
	padding:10px 15px;
}
.no-border{
	border:none;
}
.no-padding{
	padding:0px;
}
.text-center{
	text-align:center;
}

.text-justify{
	text-align:justify;
}

.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}

.titlle{
	font-size:50px;
}

.padding-50{
	padding-top:50px;
	padding-bottom:50px;
}

.small{
	font-size:14px;
}

.top-space{
	margin-top:1em;
}

.slim{
	font-weight:200;
}

.upper-case{
	text-transform: uppercase;
}

.z-depth{
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px rgba(0,0,0,0.12)
}

